
    <div class ="container">
        <div class="row justify-content-md-center">
            
                <div class = "col-md-6" >
                    <label> NOMBRE {{usuario.NOM_JUGADOR}}</label>
                </div>
                <div class = "col-md-6" >
                        <label> APELLIDO {{usuario.APELLIDO_JUGADOR}} </label>
                </div>
                <div class = "col-md-6" >
                    <label> CORREO ELECTRONICO {{usuario.CORREO_ELECTRONICO}} </label>                
                </div>
                <div class = "col-md-6" >
                    <label> DIRECCION {{usuario.DIRECCION}} </label>
                   
                </div>
                <div class = "col-md-6" >
                    <label> CIUDAD {{usuario.CIUDAD}} </label>
                    
                </div>
                <div class = "col-md-6" >
                    <label> ID DE USUARIO {{usuario.ID_USUARIO_JUG}} </label>
                </div>
                <div class = "col-md-6" >
                    <label> FECHA DE NACIMIENTO {{usuario.FECHA_NACIMIENTO}} </label>
                </div>
                
                <div class = "col-md-6" >
                    <label> DNI {{usuario.DNI}} </label>
                </div>
                
                <div class = "col-md-6" >
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar</button>
                </div>
                <div class = "col-md-6">
                    <button type="button" class="btn btn-danger btn-lg btn-block">Cancelar</button>
                </div>
            
        </div>
    </div>
