

<div class ="container main-container">
  <div class="row justify-content-md-center">
    <div class = "col-md-6">
        <label> RAZON SOCIAL </label>
        <input class = "form-control" placeholder="Ingresa tu usuario">
    </div>
    <div class = "col-md-6">
          <label> REPRESENTANTE LEGAL </label>
          <input class = "form-control" placeholder="Ingresa tu usuario">
    </div>
    <div class = "col-md-6">
        <label> CORREO ELECTRONICO </label>
        <input class = "form-control" placeholder="Ingresa tu usuario">
    </div>
    <div class = "col-md-6">
        <label> DIRECCION </label>
        <input class = "form-control" placeholder="Ingresa tu usuario">
    </div>
    <div class = "col-md-6">
        <label> CONFIRMAR CORREO ELECTRONICO </label>
        <input class = "form-control" placeholder="Ingresa tu usuario">
    </div>
    <div class = "col-md-6">
        <label> TELEFONO</label>
        <input class = "form-control" placeholder="Ingresa tu usuario">
    </div>
    <div class = "col-md-6">
        <label> ID DE USUARIO </label>
        <input class = "form-control" placeholder="Ingresa tu usuario">
    </div>
    <div class = "col-md-6">
        <label> FECHA DE CONSTITUCION </label>
        <input class = "form-control" placeholder="Ingresa tu usuario">
    </div>
    <div class = "col-md-6">
        <label> CONTRASEÑA </label>
        <input class = "form-control" placeholder="Ingresa tu usuario">
    </div>
    <div class = "col-md-6">
        <label> RUC </label>
        <input class = "form-control" placeholder="Ingresa tu usuario">
    </div>
  </div>
</div>

