<div class ="container">
  <div class="row justify-content-md-center">
      
          <div class = "col-md-6" >
              <label> NOMBRE {{usuario.NOM_REG}}</label>
          </div>
          <div class = "col-md-6" >
                  <label> APELLIDO {{usuario.APE_REG}} </label>
          </div>
          <div class = "col-md-6" >
              <label> CORREO ELECTRONICO {{usuario.CORREO}} </label>                
          </div>
          <div class = "col-md-6" >
              <label> CATEGORIA {{usuario.CATEGORIA}} </label>
             
          </div>
          <div class = "col-md-6" >
              <label> NIVEL {{usuario.NIVEL}} </label>
              
          </div>
          <div class = "col-md-6" >
              <label> CODIGO DE VERIFICACION {{usuario.COD_ID}} </label>
          </div>
          
          <div class = "col-md-6" >
              <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar</button>
          </div>
          <div class = "col-md-6">
              <button type="button" class="btn btn-danger btn-lg btn-block">Cancelar</button>
          </div>
      
  </div>
</div>

