
  <div class ="container">
      <div class="row justify-content-md-center">
          
              <div class = "col-md-6">
                  <label> RAZON SOCIAL: {{usuario.RAZON_SOCIAL}} </label>
              </div>
              <div class = "col-md-6" >
                      <label> REPRESENTANTE LEGAL: {{usuario.REP_LEGAL}} </label>
              </div>
              <div class = "col-md-6" >
                  <label> CORREO ELECTRONICO: {{usuario.CORREO_UST}} </label>
              </div>
              <div class = "col-md-6" >
                  <label> DIRECCION: {{usuario.DIRECCION}} </label>
              </div>
              <div class = "col-md-6" >
                  <label> TELEFONO: {{usuario.TELEFONO}} </label>
              </div>
              <div class = "col-md-6" >
                  <label> FECHA CREACION DE TIENDA: {{usuario.FECHA_CONSTITU}} </label>
              </div>
              <div class = "col-md-6">
                  <label> RUC: {{usuario.RUC}} </label>
              </div>
              <div class = "col-md-6">
                  <label> ID USUARIO: {{usuario.ID_USU_TIENDA}} </label>
              </div>
              <div class = "col-md-6" >
                  <label> CONTRASEÑA: {{usuario.CONTRA_USU_TIENDA}}  </label>
              </div>
              <div class = "col-md-6">
                  
              </div>
              <div class = "col-md-6" >
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar</button>
              </div>
              <div class = "col-md-6">
                  <button type="button" class="btn btn-danger btn-lg btn-block">Cancelar</button>
              </div>